$primary: blue;
$secondary: gray;
$success: green;
$danger: red;
$warning: yellow;
$info: lightblue;
$light: lightgray;
$dark: darkgray;
$body:lightgray;
$white:lightgray;
$transparent:lightgray;



@import "./node_modules/bootstrap/scss/bootstrap.scss"